<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapus - Mencari Buku</title>
</head>
<body>
    <h1>testing 2</h1>
    {% for buku in buku_list %}
        <li>
        {{ buku.nama_perpus_id }} {{ buku.kuantitas }}
        <form action="book" method="POST">{% csrf_token %}
            <input type="hidden" name="perpus" value={{ buku.nama_perpus_id }}>
            <input type="hidden" name="isbn" value={{ buku.isbn_id }}>
            <input type="submit" value="book">
        </form>
        </li>
    {% endfor %}
</body>
</html>
