@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    flex: auto;
}

#contact{
    background: #222222 !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15rem;
}

#contact h2{
    color: #F3ECB0;
    font-size: 3.6rem;
    font-weight: 400;
    text-align: center;
    padding-top: 6rem;
}

#contact h2::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 80px;
    background: #fff;
    height: 3px;
}
#contact .container .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .form-wrapper{
    position: relative;
    z-index: 1;
    width: 850px;
    height: 750px;
    margin-top: 3rem;
}

#contact .form-wrapper::before{
    position: absolute;
    content: '';
    background: #F3ECB0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
}

#contact .form-wrapper i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    display: inline-block;
    background: #ff9e44;
    padding: 5rem;
    border-radius: 50%;
    top: -8rem;
}


#contact .form-wrapper .form-group label{
    color: #344d67;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 50px;

}

#contact .form-wrapper .form-stars label{
    color: #344d67;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-right: 9rem;
}

#contact .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .form-wrapper .form-group:first-child {
    margin-top: 8rem;
}

#contact .form-wrapper .form-stars:first-child {
    margin-top: 8rem;
}

#contact .form-wrapper .form-group{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 3.7rem;
}
#contact .form-wrapper .form-stars{
    display: inline;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 3.7rem;
}

#contact .form-wrapper .form-group label{
    flex: 1;
}

#contact .form-wrapper .form-stars label{
    flex: 1;
}

#contact .form-wrapper .form-group input,
#contact .form-wrapper .form-group textarea{
    flex: 3;
    background: transparent;
    border: 3px solid #344d67;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: #fff;
    font-family: 'Raleway' ,sans-serif;
}

#contact .form-wrapper .form-stars input{
    flex: 3;
    background: transparent;
    border: 3px solid #344d67;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    font-size: 2rem;
}


#contact .form-wrapper .form-group input:focus,
#contact .form-wrapper .form-group textarea:focus{
    outline: none;
}

#contact .form-wrapper .form-stars input:focus{
    outline: none;
}

#contact .form-wrapper input[type='submit']{
    background: #68B984;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    border: none;
    width: 50%;
    margin-left: auto;
    padding: 1.5rem 0;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
    letter-spacing: 3px;
    margin-top: 100px;
}

#contact .form-wrapper input[type='submit']{
    opacity: 1;
}