<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Peminjam</title>
</head>
<body>
    <div class="dropdown">
        <select name="perpustakaan" id="perpustakaan">
            {% for target in perpus%}
            <option value="{{target}}">{{target}}</option>
            {% endfor %}
        </select>
    </div>
</body>
</html>