<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Peminjam</title>
</head>
<body>
    <div class="dropdown">
        <select name="perpustakaan" id="perpustakaan">
            {% for target in perpus%}
            <option value="{{target}}">{{target}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="table-request">
      <table>
          <tr>
            <th>Username</th>
            <th>Date Request</th>
            <th>Book</th>
            <th>Reviewed?</th>
            <th>Accepted?</th>
          </tr>
          {% for data in request_booking %}
          <tr>
            <td>{{data.username}}</td>
            <td>{{data.timestamp_request}}</td>
            <td>{{data.book}}</td>
            <td>{{data.is_reviewed}}</td>
            <td>{{data.is_accepted}}</td>
            <td><a href="/administrasi-peminjam/dashboard/request/{{data.username}}">Detail</a></td>
          </tr>
          {% endfor %}
        </table>
  </div>
    

    <div class="table-Book">
        <table>
            <tr>
              <th>Username</th>
              <th>status</th>
              <th>timestamp_retrive</th>
              <th>Action</th>
            </tr>
            {% for data in book_borrow %}
            <tr>
              <td>{{data.username}}</td>
              <td>{{data.status}}</td>
              <td>{{data.timestamp_retrieval_limit}}</td>
              <td><a href="/administrasi-peminjam/dashboard/status/{{data.username}}">Detail</a></td>
            </tr>
            {% endfor %}
          </table>
    </div>
</body>
</html>