<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username: </label><br>
            <input type="text" value="{{request.username}}" disabled name="username"><br>
            <label for="">Book: </label><br>
            <input type="text" value="{{request.book}}" disabled name="username"><br>
            <label for="">Has been Accepted? </label><br>
            <input type="radio" name="option2" value="True">
            <label for="option2">Yes</label><br>
            <input type="radio" name="option2" value="False">
            <label for="option2">No</label><br>
            <input type="submit" value="SIMPAN">    
        </form>
    </div>
</body>
</html>